<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Unit Converter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UnitConverter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>


	<!-- Notificações -->
	<key>PermissionGroupNotification</key>
    <string>Precisamos enviar notificações para alertar você sobre novos pedidos</string>
	
	<!-- Localização -->
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>Precisamos da sua localização para otimizar rotas e manter o cliente informado sobre a entrega</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Precisamos da sua localização em segundo plano para rastrear entregas em andamento e otimizar rotas</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Rastreamento contínuo necessário durante entregas ativas para segurança e transparência</string>
	
	<!-- Câmera e Galeria -->
	<key>NSCameraUsageDescription</key>
    <string>Precisamos acessar sua câmera para verificar sua identidade e documentos (CNH, CRLV)</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Precisamos acessar suas fotos para você enviar documentos (CNH, CRLV, foto da moto)</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Precisamos salvar fotos na sua galeria</string>
	
	<!-- Biometria -->
	<key>NSFaceIDUsageDescription</key>
    <string>Usamos Face ID para facilitar seu login de forma rápida e segura</string>



	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
